<div class="Hp_brands_section">
  <div class="container">
    <h3 class="hp_head">Hats From the Brands You Love</h3>
    <ul>
        <li><img src="/content/decky.svg" alt=""></li>
        <li><img src="/content/flexfit.svg" alt=""></li>
        <li><img src="/content/new_era.svg" alt=""></li>
        <li><img src="/content/nike.svg" alt=""></li>
        <li><img src="/content/pacific_headwear.svg" alt=""></li>
        <li><img src="/content/richardson.svg" alt=""></li>
    </ul>
    <a href="/brands/" class="site_btn">VIEW ALL BRANDS</a>
  </div>
</div>
<div class="Hp_gallery_section">
  <div class="container">
    <h3 class="hp_head">Who We’ve Worked With</h3>
    <ul>
        <li><img src="/content/gallery-1.jpg" alt=""></li>
        <li><img src="/content/gallery-2.jpg" alt=""></li>
        <li><img src="/content/gallery-3.jpg" alt=""></li>
        <li><img src="/content/gallery-4.jpg" alt=""></li>
        <li><img src="/content/gallery-5.jpg" alt=""></li>
        <li><img src="/content/gallery-6.jpg" alt=""></li>
    </ul>
    <a href="/gallery/" class="site_btn">VIEW FULL GALLERY</a>
  </div>
</div>
<div class="How_it_work_section">
  <div class="container">
    <div class="How_it_work lt">
      <div class="How_it_work_vd">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CRZ65IzdweY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="How_it_work rt">
      <div class="How_it_work_ct">
        <p><img src="/content/" alt=""/></p>
        <div class="How_it_work_ct_ovr">
          <div class="work_ct_ovr_inner">
            <h3 class="hp_head">HOW IT WORKS</h3>
            <ul class="work_steps ft">
              <li>
                <img src="/content/pick_hat_style.svg" alt=""/>
                <span>1. PICK HAT STYLE</span>
              </li>
              <li>
                <img src="/content/custom_hat.svg" alt=""/>
                <span>2. DESIGN YOUR CUSTOM HAT</span>
              </li>
              <li>
                <img src="/content/place_order.svg" alt=""/>
                <span>3. PLACE YOUR ORDER</span>
              </li>
              <li>
                <img src="/content/make_your_hats.svg" alt=""/>
                <span>4. WE MAKE YOUR HATS</span>
              </li>
              <li>
                <img src="/content/free_shipping_usa.svg" alt=""/>
                <span>5. FREE USA SHIPPING!*</span>
              </li>
            </ul>
            <a href="/how-it-works/" class="site_btn">LEARN MORE</a>
            <p class="small_text">* On orders over $300</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="Branded_lr_section">
  <div class="lr_left">
    <div class="lr_left">
      <div class="lr_left_img">
        <img src="/content/Top-Quality.jpg" alt="">
      </div>
      <div class="lr_left_text">
        <h3>Top-Quality Branded Headwear</h3>
        <p>Did you know that adding customized hats to your marketing plan just may be the best things you can do to get your brand name out there for all to see? Every company insignia is unique and when placed on the front of a hat it’s sure to be easily seen as this promo product is one that’s eye level. While ordering custom fitted hats with your design will help get your company name out there, it’s essential for your logo or emblem to not only be easily seen, it must also be memorable. Know you can always add additional elements to your design.</p>
        <a href="/b2b-orders/" class="site_btn">B2B ORDERS</a>
      </div>
    </div>
    <div class="lr_right">
      <div class="lr_left_img">
        <img src="/content/About-Monterey.jpg" alt="">
      </div>
      <div class="lr_left_text">
        <h3 class="hp_head">About Monterey Brands</h3>
        <p>We are committed to providing our customers with only the best products and excellent customer service. We proudly manufacture products right here United States or sourcing it from across globe for quality workmanship you need on time delivery that is guaranteed!</p>
        <a href="/about-us/" class="site_btn">Learn More</a>
        <span class="own_ope_text">USA OWNED <img src="/content/united-states.svg" alt=""> AND OPERATED</span>
      </div>
    </div>
  </div>
</div>
